* {
  box-sizing: border-box;
  font-size: 18px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
}

.wrapper {
  width: 1110px;
}

.header {
  padding-top: 38px;
  margin-bottom: 98px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.logo {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 30px;
  line-height: 32px;
  color: #555252;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

a.logo {
  float: left;
  margin: 0;
  padding: 0;
}

ul.nav {
  padding: 0;
  margin: 0;
  padding-top: 6px;
}

.logo::first-letter {
  font-weight: 800;
  color: #1abc9c;
}

.nav li {
  float: left;
}

.nav li:not(:nth-child(6)) {
  margin-right: 30px;
}

.nav {
  float: right;
}

.nav a {
  font-family: "Open Sans", sans-serif;
  letter-spacing: -0.02em;
  font-size: 14px;
  line-height: 16px;
  color: #0f0101;
  font-weight: bold;
  text-transform: uppercase;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.nav a:hover {
  color: #1abc9c;
}

.products {
  margin-bottom: 100px;
}
section h2 {
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  line-height: 58px;
  font-weight: 800;
  letter-spacing: -0.02em;
  text-align: center;
  text-transform: uppercase;
}

.products h2 {
  color: #515151;
}

.products h2::after {
  display: block;
  width: 164px;
  height: 7px;
  content: "";
  background-color: #1abc9c;
  margin: 0 auto;
  margin-top: 32px;
}

.products ul,
.blog ul {
  margin: 0;
  padding: 0;
}

.products-list li {
  float: left;
}

.product-item {
  margin-bottom: 30px;
  margin-right: 30px;
}

.product-item:nth-child(4n) {
  margin-right: 0px;
}

.product-item:nth-child(n + 5) {
  margin-bottom: 0;
}

.products-list img {
  display: block;
  width: 255px;
  height: 282px;
  background-color: #e9f0fd;
}

.product-item p {
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  line-height: 32px;
  letter-spacing: -0.02em;
  color: #ffffff;
  background-color: #323232;
  display: inline-block;
  width: 186px;
  height: 36px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.product-item:hover p {
  background-color: #1abc9c;
}

.product-item p {
  padding-left: 14px;
  padding-top: 4px;
}

.price p {
  width: 55px;
  opacity: 0.44;
  text-align: center;
  padding-left: 0px;
}

.blog h2 {
  margin: 0;
  margin-bottom: 80px;
}

.blog h2::after {
  display: block;
  width: 164px;
  height: 7px;
  content: "";
  background-color: #4ec6ab;
  margin: 0 auto;
  margin-top: 32px;
}

.blog-list-item {
  width: 350px;
  float: left;
  margin-right: 30px;
  text-align: center;
}

.blog-list-item:nth-child(3) {
  margin-right: 0px;
}

.blog-list-item h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: -0.02em;
  color: #555252;
  margin-bottom: 26px;
  text-align: left;
}

.blog-list-item h3::after {
  display: block;
  width: 136px;
  height: 3px;
  content: "";
  background-color: #4ec6ab;
  margin-top: 32px;
}

.blog-list-item p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: -0.02em;
  margin-bottom: 12px;
  text-align: justify;
}

button {
  width: 160px;
  height: 50px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  background-color: #4ec6ab;
  cursor: pointer;
}

.blog {
  margin-bottom: 44px;
}
