* {
    box-sizing: border-box;
    font-size: 18px;
}

.wrapper {
    width: 1110px;
}

li {
    list-style: none;
}



.logo {
    font-family: roboto;
    font-weight: 200;
    font-size: 30px;
    line-height: 30px;
    color: #555252;
}

.logo::first-letter {
    color: #1abc9c;
}

.nav {}

li {
    list-style: none;
}

font-family: 'Open Sans',
sans-serif;
font-family: 'Roboto',
sans-serif;